div {
  text-align: center;
  width: 100%;
}
h1 {
  display: inline-block;
  margin-top: 0px;
  background-color: lightblue;
  width: 75%;
}
#gameCanvas {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#reset {
  width: 179px;
  height: 64px;
  font-size: 18px;
  font-weight: bold;
  margin: 0 auto;
  cursor: default;
}

.button[disabled] {
  background-color: #d2d2d2;
  color: #a0a0a0;
  cursor: default;
}